<!-- goi trong home -->
<div class="card text-white bg-dark mb-3" style="width: 100%;">
    <div class="card-body" style="padding: 0;">
        <video #videoPlayerUser width="100%" playsInline autoPlay></video>
    </div>
    <div style="padding: 0;">
        <span class="text-truncate span-inline-block"> {{userPeer.member.displayName}} </span>
        <span style="float: right; color: white;">
            <i class="fas fa-video-slash"></i>
            <i class="fas fa-microphone-slash"></i>
        </span>                                 
    </div>
</div>                   
